# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=rootdat
DB_PASSWORD=dongvandat1
DB_DATABASE=appchat
DB_SYNC=true

# JWT Configuration
JWT_SECRET=Kf9vY3r!s2LxW@qT7eCzA8nPb$d%J6XmVoG0RhUt*YpNjMk
JWT_EXPIRATION=24h

# CORS Configuration
CORS_ENABLED=true
CORS_ORIGINS=http://localhost:3000,http://localhost:8080

